meta:
  version: 3
  flow: Chip
  substituting_steps:
  
    # Magic reports some overlaps which can be ignored
    Checker.IllegalOverlap: null
    # Not working correctly
    KLayout.SealRing: null
    # Disable magic DRC 
    Magic.DRC: null
    Checker.MagicDRC: null
    # Disable KLayout density check
    KLayout.Density: null
    Checker.KLayoutDensity: null
    Checker.YosysSynthChecks: null # temporary disable TODO

    # # you can uncomment this for the flow to be faster. Comment it again in the final run.
    KLayout.DRC: null
    Checker.KLayoutDRC: null

    # # you can uncomment this for the flow to be faster. Comment it again in the final run.
    KLayout.Antenna: null
    Checker.KLayoutAntenna: null
    
    # # you can uncomment this for the flow to be faster. Comment it again in the final run.
    OpenROAD.IRDropReport: null
    KLayout.XOR: null
    Netgen.LVS: null
    Checker.LVS: null

DESIGN_NAME: top
VERILOG_FILES:
  - dir::src/top.sv
  - dir::src/chip.sv
  - dir::M6_Clock_Divider/src/clock_divider.sv
  - dir::M7_Trng/src/trng.sv
  - dir::M1_Controller/src/controller.sv
  - dir::M2_SPI_Controller/src/spi_controller.sv
  - dir::M5_Macro_Array_RAM_V2/src/sand_cell_forMacro.sv
  - dir::M5_Macro_Array_RAM_V2/src/sand_array_forMacro.sv
  - dir::M5_Macro_Array_RAM_V2/src/macro_sand_array.sv
  - dir::M5_Macro_Array_RAM_V2/src/sand_grid_RAM.sv
  - dir::M5_Macro_Array_RAM_V2/src/ram_FPGA_2P.sv
  - dir::../../pdk/ihp-sg13g2/libs.ref/sg13g2_sram/verilog/RM_IHPSG13_2P_1024x16_c2_bm_bist.v
  - dir::../../pdk/ihp-sg13g2/libs.ref/sg13g2_sram/verilog/RM_IHPSG13_2P_core_behavioral_bm_bist_ideal.v
  - dir::M8_VGA_Controller/src/sandpile_renderer.sv
  - dir::M8_VGA_Controller/src/vga_controller.sv
  - dir::M8_VGA_Controller/src/horizontal_counter.sv
  - dir::M8_VGA_Controller/src/vertical_counter.sv
  - dir::M9_SPI/src/pos_edge_det.sv
  - dir::M9_SPI/src/spi_module.sv
  - dir::M10_Game_Controller/src/game_controller.sv

USE_SLANG: true

CLOCK_PERIOD: 40
CLOCK_PORT: clk_PAD

FP_SIZING: absolute
DIE_AREA: [0, 0, 2400, 1800]
CORE_AREA: [358.00, 358.00, 2042, 1442]

PL_TARGET_DENSITY: 0.55
MAX_FANOUT_CONSTRAINT: 10

PDN_CFG: dir::scripts/pdn_cfg.tcl

PDN_CORE_RING: true
PDN_CORE_RING_CONNECT_TO_PADS: true
MAGIC_EXT_UNIQUE: "notopports"
PDN_ENABLE_PINS: false
PDN_CORE_RING_VWIDTH: 15
PDN_CORE_RING_HWIDTH: 15
PDN_VPITCH: 50
PDN_HPITCH: 50
PDN_VWIDTH: 3.5
PDN_HWIDTH: 3.5

VDD_NETS: ["VDD"]
GND_NETS: ["VSS"]

GRT_ALLOW_CONGESTION: true
IGNORE_DISCONNECTED_MODULES:
- bondpad_70x70
EXTRA_GDS: 
- dir::bondpad/bondpad_70x70.gds
EXTRA_LEFS:
- dir::bondpad/bondpad_70x70.lef

PAD_SOUTH: [
  "vdd_pads\\[0\\].vdd_pad",
  "vss_pads\\[0\\].vss_pad",
  "iovdd_pads\\[0\\].iovdd_pad",
  "iovss_pads\\[0\\].iovss_pad"
]
PAD_EAST: [
  "vga_b_pads\\[0\\].vga_b_pad",
  "vga_b_pads\\[1\\].vga_b_pad",
  "vga_b_pads\\[2\\].vga_b_pad",
  "vga_b_pads\\[3\\].vga_b_pad",
  vga_hs_pad,
  vga_vs_pad,
  poci_pad
]

PAD_NORTH: [
  "vga_r_pads\\[0\\].vga_r_pad",
  "vga_r_pads\\[1\\].vga_r_pad",
  "vga_r_pads\\[2\\].vga_r_pad",
  "vga_r_pads\\[3\\].vga_r_pad",
  "vga_g_pads\\[0\\].vga_g_pad",
  "vga_g_pads\\[1\\].vga_g_pad",
  "vga_g_pads\\[2\\].vga_g_pad",
  "vga_g_pads\\[3\\].vga_g_pad"
]

PAD_WEST: [
  clk_pad,
  rst_n_pad,
  sclk_pad,
  cs_pad,
  pico_pad
]

PDN_OBSTRUCTIONS:
  - [TopMetal2, 400, 1380, 496, 1434]

ROUTING_OBSTRUCTIONS:
  - [TopMetal2, 400, 1380, 496, 1434]

# use ASIC version of RAM
SYNTH_DEFINES:
  - RAM_ASIC

MACROS:
  "RM_IHPSG13_2P_1024x16_c2_bm_bist":
    gds: dir::../../pdk/ihp-sg13g2/libs.ref/sg13g2_sram/gds/RM_IHPSG13_2P_1024x16_c2_bm_bist.gds
    lef: dir::../../pdk/ihp-sg13g2/libs.ref/sg13g2_sram/lef/RM_IHPSG13_2P_1024x16_c2_bm_bist.lef
    lib: 
      nom_typ_1p20V_25C: dir::../../pdk/ihp-sg13g2/libs.ref/sg13g2_sram/lib/RM_IHPSG13_2P_1024x16_c2_bm_bist_typ_1p20V_25C.lib
      nom_fast_1p32V_m40C: dir::../../pdk/ihp-sg13g2/libs.ref/sg13g2_sram/lib/RM_IHPSG13_2P_1024x16_c2_bm_bist_fast_1p32V_m55C.lib
      nom_slow_1p08V_125C: dir::../../pdk/ihp-sg13g2/libs.ref/sg13g2_sram/lib/RM_IHPSG13_2P_1024x16_c2_bm_bist_slow_1p08V_125C.lib

    instances:

          u_chip.u_macro_sand_array.u_sand_grid_RAM.generate_sram[0].u_sram_a:
            location: [400, 400]
            orientation: N

          u_chip.u_macro_sand_array.u_sand_grid_RAM.generate_sram[1].u_sram_a:
            location: [1000, 400]
            orientation: N

          u_chip.u_macro_sand_array.u_sand_grid_RAM.generate_sram[2].u_sram_a:
            location: [1550, 400]
            orientation: N

          u_chip.u_macro_sand_array.u_sand_grid_RAM.generate_sram[0].u_sram_b:
            location: [400, 950]
            orientation: N

          u_chip.u_macro_sand_array.u_sand_grid_RAM.generate_sram[1].u_sram_b:
            location: [1000, 950]
            orientation: N

          u_chip.u_macro_sand_array.u_sand_grid_RAM.generate_sram[2].u_sram_b:
            location: [1550, 950]
            orientation: N

